.appl {
  text-align: center;
  color: gray;
}

img {
  height: 10%;
  width: 10%;
  border-radius: 5%;
}

.Bio {
  border-top: 50% solid rgb(56, 44, 44);
  height: 30px;
}
.timer {
  color: gray;
  text-align:center
}

